{% extends "::base.html.twig" %}

{% block title %}Blog - Création d'un theme {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Création d'un thème</h1>
        </div>
        <div class="row">
            {{ form_start(monFormulaire) }}
            {{ form_errors(monFormulaire) }}
            <b>Titre du thème :</b><br>
            {{ form_widget(monFormulaire.title) }}<br><br>
            {{ form_widget(monFormulaire.submit) }}
            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}
