{% extends "::base.html.twig" %}
{% block title %}Blog - Mes themes{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Mes themes</h1>
        <p>Vous pouvez voir vos themes et en ajouter ici</p>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>Vos thèmes de lecture</p>

            <ul>
                {% for ut in user_themes %}
                <li>{{ ut.theme.title }} <a href="{{ path('theme_delete_read', {'themeId': ut.theme.id }) }}">Supprimer ce thème de vos thèmes de lecture</a></li>
                {% endfor %}
            </ul>

            {% if user_themes | length == 0 %}
                <p><strong>Vous n'avez pas encore de thèmes de lecture</strong></p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>Ajouter un thème</h3>

            <div class="col-xs-12">
                {% include 'flashes/notice-flash.html.twig' %}
                {% include 'flashes/error-flash.html.twig' %}
            </div>

            {{ form_start(user_theme_form) }}

            <div class="form-group">
                {{ form_label(user_theme_form.theme, 'Theme') }}
                {% if form_errors(user_theme_form.theme) %}
                    <div class="alert alert-danger">
                        <strong>Erreur !</strong> {{ form_errors(user_theme_form.theme) }}
                    </div>
                {% endif %}
                {{ form_widget(user_theme_form.theme, {'attr': {'class': 'form-control'}}) }}
            </div>

            {#<div class="form-group">#}
                {#{{ form_widget(user_theme_form.isReviewer) }}#}
                {#{{ form_label(user_theme_form.isReviewer, 'Ajouter à la liste des critiques') }}#}
                {#{% if form_errors(user_theme_form.isReviewer) %}#}
                    {#<div class="alert alert-danger">`#}
                        {#<strong>Erreur !</strong> {{ form_errors(user_theme_form.isReviewer) }}#}
                    {#</div>#}
                {#{% endif %}#}
            {#</div>#}

            {{ form_row(user_theme_form.submit, {'label': 'Ajouter un thème', 'attr' : {'class' : 'btn btn-primary'}}) }}
            {{ form_end(user_theme_form) }}
        </div>

    </div>
</div>

{% endblock %}
