{% extends "::base.html.twig" %}

{% block title %}Blog - Liste des signalements{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Signalements</h1>
            {% if is_granted('ROLE_ADMIN') %}
                <p>La liste des signalements du blog !</p>
            {% elseif is_granted('ROLE_READER') %}
                <p>La liste de vos signalements</p>
            {% endif %}
        </div>

        <div class="row">
            <h4>Signalements des articles</h4>Trier par :
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin_reportings_list2', { 'param': "Author"}) }}">Auteurs</a>
            - <a href="{{ path('admin_reportings_list2', { 'param': "Article"}) }}">Articles</a>
            {% endif %}
            <ul>
                {% for report in reports_article %}
                    <ul class="col-md-12 col-xs-12">
                        <li>
                            <a href="{{ path('article_show', { 'id': report.article.id}) }}">
                                {{ report.article.title }}
                            </a>
                            signalé par <b>{{ report.user }}</b>
                            <a href="{{ path('reporting_article_delete', { 'id': report.id}) }}"
                               title="Supprimer le signalement">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                            - <a href="{{ path('article_delete', { 'id': report.article.id}) }}">Supprimer l'article</a>
                            - <a href="{{ path('admin_user_delete', {'id': report.article.author.id }) }}">Supprimer
                                l'auteur de l'article</a>
                            - <a href="{{ path('admin_user_delete', {'id': report.user.id}) }}">Supprimer l'auteur du
                                signalement</a></li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </ul>
            <br/>
            <br/>
            <h4> Signalements des commentaires </h4>
            {% if is_granted('ROLE_ADMIN') %}
            Trier par : <a href="{{ path('admin_reportings_list2', { 'param': "Reviewer"}) }}">Critiques</a>
            {% endif %}
            <ul>
                {% for report in reports_comment %}
                    <ul class="col-md-12 col-xs-12">
                        <li>
                            <i>&laquo;{{ report.comment.content }}&raquo;</i>
                            (<a href="{{ path('article_show', { 'id': report.comment.article.id}) }}">
                                {{ report.comment.article.title }}
                            </a>)
                            signalé par <b>{{ report.user }}</b>

                        <a href="{{ path('reporting_comment_delete', { 'id': report.id }) }}"
                           title="Supprimer le signalement">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                            - <a href="{{ path('comment_delete', { 'commentId': report.comment.id}) }}">Supprimer le commentaire</a>
                        - <a href="{{ path('admin_user_delete', {'id': report.comment.author.id }) }}">Supprimer
                                l'auteur du commentaire</a>
                        - <a href="{{ path('admin_user_delete', {'id': report.user.id}) }}">Supprimer l'auteur du
                                signalement</a>
                        </li>
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
