<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                <span class="sr-only">Ouvrir le menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('blog_homepage') }}">Blog</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_READER') %}
                    <li><a href="{{ path('article_list') }}">Articles</a></li>
                    <li><a href="{{ path('theme_list_read') }}">Themes lecture</a></li>
                    <li><a href="{{ path('reporting_self_list') }}">Reportings</a></li>
                {% endif %}

                {% if is_granted('ROLE_REVIEWER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Critique <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('theme_list_review') }}">Themes de critique</a></li>
                            <li><a href="{{ path('comment_list') }}">Mes commentaires</a></li>
                        </ul>
                    </li>
                {% endif %}


                {% if is_granted('ROLE_WRITER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Auteur <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('article_add') }}">Ajouter un article</a></li>
                            <li><a href="">Mes articles</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            Administration <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_user_add') }}">Ajouter un utilisateur</a></li>
                            <li><a href="{{ path('admin_user_list') }}">Voir les utilisateurs</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('admin_theme_add') }}">Ajouter un theme</a></li>
                            <li><a href="{{ path('admin_theme_list') }}">Voir les themes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('admin_reportings_list') }}">Consulter les reports</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            {% if is_granted('ROLE_READER') %}
                <form class="navbar-form navbar-left" method="get" action="{{ path('article_search') }}" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="s" placeholder="Recherche">
                    </div>
                    <button type="submit" class="btn btn-default">Go</button>
                </form>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">Deconnexion</a></li>
            </ul>
        </div>
    </div>
</nav>