{% extends "::base.html.twig" %}

{% block title %}Blog - modification d'un article {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/modifier.css') }}"/>
{%  endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h1>Modification</h1>
            <p>De l'article <b>{{ article.title }}</b></p>
            <p><a href="{{ path('article_delete', { 'id': article.id })}}">Supprimer l'article</a></p>
        </div>
        <div class="row">
            {{ form_start(myForm) }}
                {{ form_errors(myForm) }}
            <b>Titre de l'article :</b><br>
            {{ form_widget(myForm.title) }}<br><br>
            <b>COntenu de l'article:</b><br>
            {{ form_widget(myForm.content) }}<br><br>
            <b>Thèmes de l'article :</b><br>
            {{ form_widget(myForm.themes) }}<br><br>
            {{ form_widget(myForm.submit) }}
            {{ form_end(myForm) }}
        </div>
    </div>
{% endblock %}
