{{ form_start(myForm) }}
    {{ form_errors(myForm) }}

<br><br>
    <b>Titre de l'article</b><br>
{{ form_widget(myForm.title) }} <br><br>
    <b>Contenu de l'article</b><br>
{{ form_widget(myForm.content) }} <br><br>
    <b>Theme(s) de l'article</b><br>
{{ form_widget(myForm.themes) }} <br><br>
{{ form_widget(myForm.submit) }}



</table>
{{ form_end(myForm) }}