{% extends "::base.html.twig" %}

{% block title %}Blog - Liste des articles{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Mes articles</h1>
            {% if average != -1 %}
                <p>La liste de vos articles - Moyenne : {{ average }}/10</p>
            {% endif %}
            <p><a href="{{ path('article_add') }}">Rédiger un article</a></p>
        </div>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-5 col-md-offset-1 col-xs-12">
                    <h3>{{ article.title }}</h3>
                    <div>
                        {% for theme in article.themes %}
                            <span class="label label-default">{{ theme }}</span>
                        {% endfor %}
                    </div>
                    <p>par <strong>{{ article.author }}</strong></p>
                    <p><em>{{ article.content | slice(0, 200) }}...</em></p>
                    <a href="{{ path('article_show', { 'id': article.id }) }}">Lire la suite</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
