{% extends 'base.html.twig' %}
{% block title %}Blog - {{ article.title }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for theme in article.themes %}
                <span class="label label-default">{{ theme }} </span> &nbsp;
            {% endfor %}
            <br>Créé par <b>{{ article.getAuthor }} </b> le {{ article.createdAt|date("d/m/Y") }} à {{ article.createdAt|date("H:i") }}

            <h1 class="col-xs-12">{{ article.title }}</h1>

            <div class="col-xs-12 col-md-8 col-md-offset-2">
                {{ article.content }}

            </div>
        </div>

        <div class="row">
            <h2 class="col-xs-12">Commentaires</h2>

            <div class="col-xs-12">
                {% include 'flashes/notice-flash.html.twig' %}
                {% include 'flashes/error-flash.html.twig' %}
            </div>

            {% if is_granted('ROLE_REVIEWER') %}
                <h3 class="col-xs-12">Poster un commentaire</h3>
                {{ form_start(form_comment, {'attr': {'class': 'col-xs-12'}}) }}


                <div class="form-group">
                    {{ form_label(form_comment.note, 'Note') }}
                    {% if form_errors(form_comment.note) %}
                        <div class="alert alert-danger">
                            <strong>Erreur !</strong> {{ form_errors(form_comment.note) }}
                        </div>
                    {% endif %}
                    {{ form_widget(form_comment.note, {'attr': {'class': 'form-control', 'min': 0, 'max': 10}}) }}
                </div>


                <div class="form-group">
                    {{ form_label(form_comment.content, 'Contenu du commentaire') }}
                    {% if form_errors(form_comment.content) %}
                        <div class="alert alert-danger">
                            <strong>Erreur !</strong> {{ form_errors(form_comment.content) }}
                        </div>
                    {% endif %}
                    {{ form_widget(form_comment.content, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
                </div>

                {{ form_row(form_comment.submit, {'label': 'Soumettre', 'attr' : {'class' : 'btn btn-default'}}) }}
                {{ form_end(form_comment) }}
            {% endif %}

            <h3 class="col-xs-12">Précédentes réactions...</h3>
            <div class="col-xs-12">
                {% for comment in comments %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>
                                <a href="{{ path('comment_delete', {'commentId': comment.id}) }}" style="margin-right: 20px;">
                                    <i class="fa fa-times"></i>
                                </a>
                                Commentaire de <strong>{{ comment.author }}</strong>.
                                <em>Note: {{ comment.note }} / 10</em>.
                                Posté le {{ comment.createdAt.format('Y-m-d H:i:s') }}
                            </p>
                        </div>
                        <div class="panel-body">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% if comments | length == 0 %}
                    <p>Pas de commentaires sous cet article !</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}