{% extends 'base.html.twig' %}
{% block title %}Blog 2.0 Symfony{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Blog symfony 2.0</h1>
                <p>Ce projet a été réalisé dans le cadre de l'UE <em>Architecture Web des Systèmes d'Information</em> à
                    <strong>l'Université de Picardie Jules Vernes.</strong>
                </p>
                <p>Les membres du groupes sont les suivants :</p>
                <ul>
                    <li>KATOYI-KABA N. Christopher</li>
                    <li>DUBOILLE Maxence</li>
                    <li>KLING Leo</li>
                    <li>AUBAS--BONNENFANT Natanaël</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                Les fonctionnalités sont les suivantes : <strong>A COMPLÉTER À LA FIN</strong>
                <br>
                <br>

                <a href="{{ path('article_add') }}">Ajouter un article</a><br>
                <a href="{{ path('article_list') }}">Liste des articles</a><br>

                <a href="{{ path('admin_user_add') }}">Ajouter un utilisateur</a><br>
                <a href="{{ path('admin_user_list') }}">Liste des utilisateurs</a><br>

                <a href="{{ path('reporting_self_list') }}">Liste de ses propres reportings</a><br>

                <a href="{{ path('admin_theme_add') }}">Ajouter Theme</a><br>
                <a href="{{ path('admin_theme_list') }}">Liste Theme</a><br>

                <a href="{{ path('admin_reportings_list') }}">Admin Reportings</a><br>
            </div>
        </div>
    </div>
{% endblock %}