{% extends "::base.html.twig" %}

{% block title %}Blog - création d'un utilisateur {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Création d'un utilisateur</h1>
        </div>
        <div class="row">
            {{ form_start(monFormulaire) }}
            {{ form_errors(monFormulaire) }}
            <b>Username</b><br>
            {{ form_widget(monFormulaire.username) }}<br><br>
            <b>Password</b><br>
            {{ form_widget(monFormulaire.password) }}<br><br>
            <b>Roles</b><br>
            {{ form_widget(monFormulaire.roles) }}<br><br>
            {{ form_widget(monFormulaire.submit) }}
            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}
