{% extends "::base.html.twig" %}

{% block title %}Blog - modification d'un utilisateur {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Ajout</h1>
        </div>
        <div class="row">
            {{ form_start(monFormulaire) }}
            {{ form_errors(monFormulaire) }}
            {{ form_row(monFormulaire.username) }}
            {{ form_row(monFormulaire.password) }}
            {{ form_row(monFormulaire.submit) }}
            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}
