{% extends "::base.html.twig" %}

{% block title %}Blog - modification d'un utilisateur {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Modification d'un utilisateur</h1>
            <p>De l'utilisateur <b>{{ user.userName }}</b></p>
            <p><a href="{{ path('admin_user_delete', { 'id': user.id })}}">Supprimer l'utilisateur</a></p>
        </div>
        <div class="row">
            {{ form_start(monFormulaire) }}
                {{ form_errors(monFormulaire) }}
            <b>Changer mot de passe :</b><br>
            {{ form_widget(monFormulaire.password) }}<br><br>
            <b>Changer roles :</b><br>
            {{ form_widget(monFormulaire.roles) }}<br><br>
            {{ form_widget(monFormulaire.submit) }}
            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}
